@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

@font-face {
  font-family: "REZ";
  src: url("/fonts/REZ.ttf") format("truetype");
}

@font-face {
  font-family: "Valorax";
  src: url("/fonts/Valorax.otf") format("truetype");
}

@font-face {
  font-family: "GALSB";
  src: url("/fonts/GALSB.ttf") format("truetype");
}
